@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}
body {
  font-family: "Manrope";
  background-color: black;
  color: white;
  overflow-x: hidden;
}
@theme {
  --breakpoint-xs: 30rem;
}
[data-aos="fade-up"] {
  transform: translate3d(0, 20px, 0);
}